#display {
  width: 200px;
  font-size: 30px;
  padding: 10px;
  border: 2px solid black;
  background: purple;
  text-align: right;
}

#calculator{
  width: 300px;
}

#buttons {
  width: 200px;
  font-size: 30px;
  padding: 10px;
  border: 2px solid black;
  background: black;
}

button {
  border: 0;
  padding: 10px;
  border: 2px solid black;
  height: 40px;
  width: 40px; 
  background: yellow;
  font-size: 20px;
}

button:hover {
  background: gold;
}

#squared {
  font-size: 50%;
  vertical-align: top;
}

#equal {
  width: 90px;
  
  
  
}