
.weightOutput{
  position: relative;
  padding: 10px;
  background: lightblue;
  width: 200px;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  left: 150px;
}

.distanceOutput{
  position: relative;
  padding: 10px;
  background: lightblue;
  width: 200px;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
  left: 150px;
}

body {
  background-image: url("lines.png");
  font-family: arial;
  margin: 5px;
  padding: 5px;
  background-color: #eee;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

.Conversions{
  position: flex;
  left: 5px;
  padding: 10px;
  background: white;
  background-image: url("lines.png");
  max-width: 700px;
}

.Weight,
.Distance{
  background: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.animate {
  animation: submit 1s both linear;
}

button{
  border: 0;
  padding: 10px;
  border: 2px solid black;
  height: 40px;
  background: #4dc3ff;
  font-size: 20px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  line-height: 0px;
  background: -webkit-linear-gradient(top, AliceBlue 0%, lightblue 100%);
}

input, select{
  height: 20px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .14);
  background-color: AliceBlue;
  font-size: 14px;
}

.inputUnit,
.distanceInputUnit,
.outputUnit,
.distanceOutputUnit {
  height: 25px;
}

button:hover {
  background: lightblue;
}

@keyframes submit{
  0%{ left: -10px }
  50%{ left: 180px }
  100%{ left: 150px }
}
